@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
}

a:link,
a:visited {
    color: var(--text-light);
}

header{
    font-size: 4em;
}

header, nav{
    text-align: center;
    background-color: #52489c;
}

a.links{
    display: block;
    margin: 0px 0px 5px 0px;
    margin-left: 100px;
    margin-right: 100px;
}

nav{
    padding-bottom: 30px;
}

img{
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 2px 2px 4px black;
    transition: transform .2s;
}

main{
    background-color: lightgrey;
}

h1{
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2{
    margin-top: 0;
}

section.gallery{
    display: grid;
    text-align: center;
}

figure{
    margin: 0;
    margin-bottom: 40px;
}

footer{
    background-color: #52489c;
    color: white;
}

.hide {
    display: none;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

dialog img {
    display: flex;
    width: 50%;
    height: auto;
    max-height: 100%;
    margin: 10vh auto;
}

.close-viewer {
    position: absolute;
    top: 9vh;
    right: 22.2%;
    background-color: white;
    color: black;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 11;
}

@media screen and (min-width: 700px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    a.links.hide {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    header {
        padding-bottom: 20px;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    a.links.hide {
        display: none;
    }

    a.links {
        display: inline;
    }
}